* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 15px;
}

body {
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 14px;

	color: #ffffff;
}

.section__inner {
	/*max-width: 950px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section {
	/*max-width: 950px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 80px 0;
}

.section__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
	margin-bottom: 2%;
}

.section__title {
	font-size: 1.9rem;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;

	background-color: #f38181;
}

.section__desc {
	padding-top: 3%;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.7rem;
	color: #999
}

.section__art {
	width: 70%;
}

.header {
	font-family: 'Roboto', sans-serif;

}

.header__top {
	background-color: #303030;
}

.header__btn {
	float: right;
	line-height: 36px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	font-size: 16px;
	display: block;
	position: relative;
}

.header__btn--footer {
	float: none;
}

.header__btn:before {
	content: "\f0b1";
	font-family: 'icomoon';
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}

.header__contacts:after {
	content: "";
	clear: both;
	display: block;
}

.header__phone,
.header__email {
	color: #ffffff !important;
	letter-spacing: 0.25px;
	line-height: 45px;
	position: relative;
}

.logo {
	display: flex;

}

.logo__title,
.logo__dot {
	color: #cccccc;
	font-family: 'Eurofurence';
	font-weight: normal;
	font-size: 1.5rem;
}

.logo__dot {
	color: rgb(88, 201, 58);
}

.logo__link {
	font-size: 1.5rem;
	display: block;
	font-family: 'Eurofurence';
	color: #3b5998;
}

.header__phone {
	padding-left: 20px;
	padding-right: 30px;
}

.header__phone:before {
	content: "\f095";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__email {
	padding-left: 24px;
}

.header__email:before {
	content: "\f003";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__content {
	padding: 6px 0px 6px;
}

.header__content-inner {
	display: flex;
	justify-content: space-between;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1px solid transparent;
	padding: 0px 16px;
	transition: all .3s;
}

.menu a:hover {
	border-color: #ffc222;
}

.menu li + li {
	padding-left: 10px;
}

#modal {
	display: none;
}

.sliderH {
	width: 100%;
	background-image: url(../img/backgroundFoto/mainFoto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.sliderH__inner {
	margin:auto;
	width: 100%;
	max-width: 800px;
	height: 400px;
	box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
	display: flex;
	justify-content: center;

}

.sliderH__item {
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}
.sliderH__hover {
	height: 100%;
	z-index: 20;
	opacity: 0;
	width: 100%;
	background-color: rgba(15, 14, 14, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.sliderH__list {
	color: #ffffff;

}
.sliderH__title {
	font-size:2rem;
	margin-bottom: 2%;
}
.sliderH__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list__item {
	line-height: 24px;
	font-size: 18px;
	color: #d3d2d2;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.slideH__hover {

	height:500px;
	z-index: 10;
	opacity: 0;
	width: 100%;
	background-color: rgba(15, 14, 14, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.sliderH__hover:hover {
	opacity: 1;
	transition: all 0.2s ease-in;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}





.default-btn {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	z-index: 2;
	outline: none;
}

.default-btn:after {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}

.slider__item {
	width: 100%;
}

.slider__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slick-btn {
	position: absolute;
	top: 70%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;

	cursor: pointer;
	outline: none;
	background-color: #ffc222;
}

.slick-btn.slick-disabled {
	cursor: default;
	background-color: transparent;
}

.slick-btn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'icomoon';
	color: #fff;
}

.slick-next:before {
	content: "\f105";
}

.slick-prev:before {
	content: "\f104";
}

.slick-next {
	right: 0;
}

.slick-prev {
	left: 0;
}

/*оформление мобильного меню*/
.header__btn-menu {
	display: none;
	font-size: 28px;

}

/*оформление about*/
.about {
	margin-top: 3%;
}

.about__inner {
	display: flex;
	justify-content: space-between;
}

.about__item {
	width: 50%;
	padding: 10px;
}

.slideshow {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.slideshow__nav {
	align-items: center;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 50px;
	margin-top: -25px;
	position: absolute;
	top: 50%;
	transition: all linear .3s;
	width: 50px;
}

.slideshow__nav:hover {
	background-color: rgba(0, 0, 0, .8);
}

.slideshow__nav.slideshow__nav--prev {
	left: 0;
}

.slideshow__nav.slideshow__nav--next {
	right: 0;
}

.slideshow__slide {
	display: none;
	position: relative;
}

.slideshow__slide.active {
	animation: fade linear 1.5s;
	display: block;
}

.slideshow__descr {
	background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	color: #ffffff;
	right: 0;
	position: absolute;
	padding: 10px;
}

.slideshow__img {
	vertical-align: middle;
	max-width: 100%;
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/*оформление аккордеона*/
/* Accordion-rule */

.accordion-rule {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);

}

.accordion-rule__header {
	margin: 10px 0;
	font-size: 1.8rem;
	display: flex;
	background-color: #f9f9f9;

	position: relative;
	border-bottom: 1px solid transparent;
}

.accordion-rule__icon {
	margin-right: 20%;
	left: 0;
	background: #ffc222;
	color: #ffffff;
	display: block;
	width: 30px;
}

.accordion-rule__content {
	font-size: 1.4rem;
	display: none;
}

.accordion-rule__content.open {
	padding: 10px 35px;
	display: block;
	animation: fade linear 1.5s;
}

span {
	text-align: center;
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/*/////////////////////////////////////////////////////////////////////////*/
.wrap-container {
	max-width: 700px;
	margin: 0 auto;
	background: transparent;
	text-align: center;
}

.wrap-container__notes {
	margin: 16px 0 0 0;
}

a:link, a:visited {
	color: #009;
}

a:hover {
	color: #00f;
}

.container__head {
	color: #000;
	text-align: center;
	font-size: 1.4rem;
	margin: 30px 0 30px 0;
	letter-spacing: 2px;
}

.accordion {
	width: 100%;
	background: #fff;
	border: 1px solid #333;
	text-align: left;
}

.accordion__title {
	-webkit-appearance: none;
	font-size: 1.1rem;
	/*   text-transform: uppercase; */
	letter-spacing: 2px;
	padding: 1rem 1.5rem;
	background: #333;
	color: white;
	cursor: pointer;
	transition: .3s ease;
	border: 0 none;
	border-bottom: 1px solid #555;
	width: 100%;
	text-align: left;
	margin: 0;
}

.accordion__title:hover, .accordion__title:focus {
	background: #000;
}

.accordion__copy {
	overflow: hidden;
	padding: 0 1.5rem 0 1.5rem;
	color: #666;
	line-height: 1.6;
	font-size: 1rem;
	font-weight: 500;
	max-height: 0;
	transition: padding 0.5s, max-height 0.5s;
}

.accordion__copy__pic {
	width: 100px;
	height: auto;
	float: right;
	margin: 0 0 0 20px;
}

@media (min-width: 540px) {
	.wrap-container__head {
		font-size: 2rem;
	}

	.accordion__copy__pic {
		width: 180px;
	}
}

/*оформление основного наши услуги блок about*/

.services {
	padding: 50px 0 30px;
}

.services__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.services__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}

.services__title-box:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}

.services__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	color: #212020;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}

.services__text {
	letter-spacing: 0.1px;
	text-align: justify;
}

.services__btn a {
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.25px;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
}

.services__items {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.services__item {
	width: 33%;
	text-align: center;
	position: relative;
	padding: 30px 0 30px;
	min-height: 375px; /*будут одинаковые по высоте*/
	background-color: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);

}

.services__item-title {
	color: #212020;
	line-height: 24px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	padding: 24px 0;
}

.services__item-text {
	letter-spacing: 0.1px;
	padding: 0 30px 30px;

}

.services__item-btn {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.services__link {
	display: block;
	color: #050505;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;

}

.services__link:hover {
	color: #ffc222;
}

/*оформление Card*/
.card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card__item {
	padding: 0 15px;
	width: 33%;
}

.card__inner {
	position: relative;
	background-color: #95e1d3;
}

.card__item:hover .card__img img {
	opacity: 0.3;
}

.card__img img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

.card__img {
	background: linear-gradient(to bottom, #ffc222, #fce38a);

	transition: transform .2s linear;
}

.card__inner:hover .card__img {
	transform: translate3d(-10px, -10px, 0);
}

.card__text {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	z-index: 20;
	position: absolute;
	top: 50%;
	left: 0;
	color: #fff;
	transform: translate3d(0, -50%, 0);
	text-align: center;
	transition: opacity .2s linear;
}

@media (max-width: 760px) {
	.services {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.container {
		width: 100%;
	}

	.card {
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		flex-direction: column;
		align-items: center;
	}

	.card__item {
		width: 100%;
		max-width: 410px;
		margin-bottom: 30px;
	}

}

/*блок news*/
.news {
	padding: 55px 0 110px;
	background-color: #f9f9f9;
}

.news__inner {
	display: flex;
	justify-content: space-between;

}

.news__blog-text {
	letter-spacing: 0.1px;
	color: #5e5e5e;
}

.news__slider {
	max-width: 555px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
	padding: 60px 35px 45px 70px;
	position: relative;
}

.news__slider:before {
	content: "\f10e";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: 70px;
	color: #fff;
	font-size: 16px;
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #ffc222;
}

.news__blog {
	max-width: 260px;
	width: 100%;
}

.news__images {
	position: relative;
}

.news__date {
	position: absolute;
	background-color: #ffc222;
	height: 55px;
	width: 50px;
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
	font-weight: 700;
	top: 0;
	left: 10px;
}

.news__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}

.news__title-box:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background: #ffc222;
	left: 0px;
	top: 11px;
}

.news__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.news__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	color: #212020;
	margin-bottom: 10px;
}

.news__text {
	letter-spacing: 0.1px;

}

.news__btn a {
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.25px;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
}

.news__slider-author {
	letter-spacing: 0.1px;
	color: #212020;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

.news__slider-inner .slick-btn {
	top: auto;
	bottom: -110px;
}

.news__slider-inner .slick-next {
	right: -35px;
}

.news__slider-inner .slick-prev {
	right: 20px;
	left: auto;
}

.news__slider-inner .slick-disabled {
	border-color: #dadada;
}

.news__slider-inner .slick-disabled:before {
	color: #dadada;
}

/*social*/
/*.social {
	display: flex;
}

.social--footer {

	justify-content: center;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-right: 4px;

	background-color: #fff;
	border: 1px solid #e8ecee;

	transition: background .1s linear;
}

.social__item:hover {
	background-color: #e8ecee;
}

.social__item:hover .social__icon {
	fill: #510505;
}

.social--footer .social__item {
	background-color: transparent;
	border-width: 2px;
	border-color: #fff;
	border-radius: 2px;
}

.social--footer .social__item:hover {
	background-color: #fff;
}*/

.social__list {
	position: absolute;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}

.social__item {
	list-style: none;
}

.social__link {
	position: relative;
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	margin: 0 10px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
}

.social__link:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.social__link .fa {
	widht: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size: 24px;
	color: #262626;
	transition: .5s;
}

.social__icon {
	display: block;
	height: 18px;

	fill: #c6cacc;

	transition: fill .1s linear;
}

.social__item:nth-child(1) a:hover .fa {
	color: #3b5998;
}

.social__item:nth-child(2) a:hover .fa {
	color: #00aced;
}

.social__item:nth-child(3) a:hover .fa {
	color: #dd4b39;
}

.social__item:nth-child(4) a:hover .fa {
	color: #007bb6;
}

.social__item:nth-child(5) a:hover .fa {
	color: #e4405f;
}

/*оформление футара*/
.footer__content {
	background-color: #595959;
}

.footer__inner {
	display: flex;
	justify-content: space-between;

}

.footer__inner .header__btn {

}

.footer__map {
	padding-top: 10px;
	max-width: 630px;
}

.footer__map iframe {

	width: 100%;
	height: 250px;

}

.footer__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #ffffff;
	line-height: 2rem;
	letter-spacing: 0.5px;

}

.footer__text {
	color: #d3d2d2;
	margin-bottom: 20px;
}

.footer__info {
	max-width: 360px;
}

.footer__list {
	padding-top: 10px;
}

.footer__list li {
	margin-top: 10px;
}

.footer__list a {
	font-size: 1rem;
	line-height: 24px;
	letter-spacing: 0.25px;
	color: #fff;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	padding-left: 33px;
	position: relative;
}

.footer__list a:before {
	content: '\f003';
	position: absolute;
	left: 13px;
	color: #ffc222;
	font-family: 'icomoon';
}

.footer__list .footer__phone:before {
	content: '\f095';
	left: 13px;
}

.footer__list .footer__adress:before {
	content: '\f041';
	left: 13px;
}

.footer__copy {
	background-color: #303030;
	text-align: center;
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 8px 0;
	font-size: 1rem;
}

.footer__block {
	max-width: 360px;
	width: 33%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__copy a {
	color: #fff;
}







